<div class="wrapper" ng-class="{'sidebar-inactive-l':menuInactiveDesktop, 'sidebar-active-m':menuActiveMobile}">
    <div class="topbar clearfix">
    </div>
    <div class="sidebar" (click)="onMenuClick()">
        <div #scroller class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="logo">
                    <img src="assets/layout/images/logo.png" alt="" width="113">
                </div>
                <!--<app-menu></app-menu>-->
            </div>
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <img src="assets/layout/images/logo-colored.png" alt="" width="32">
        <span class="footer-text">PrimeNG Omega Theme and Layout</span>
    </div>